* {
	box-sizing:border-box
}
ol,ul {
	list-style-image:none;
	list-style-type:none;
	margin:0;
	padding:0
}
.hidden {
	display:none
}
a {
	color:#333;
	text-decoration:none
}
input {
	-webkit-appearance:none
}
body,html {
	-webkit-font-smoothing:antialiased;
	background:#fff;
	color:#333;
	font-family:PingFang SC,Helvetica Neue,Hiragino Sans GB,Segoe UI,Microsoft YaHei,"\5FAE\8F6F\96C5\9ED1",sans-serif;
	font-size:16px;
	line-height:1.5;
	margin:0;
	padding:0
}
html {
	height:100%
}
body {
	min-height:100%;
	position:relative
}
hr {
	background:#d8dde4;
	border:none;
	height:1px
}
h2.heading {
	color:#76808e;
	font-size:1.5em;
	font-weight:300;
	margin:1.5em 0;
	padding:0;
	text-align:center
}
@media (min-width:768px) {
	h2.heading {
	font-size:2.25em
}
}@media (max-width:413px) {
	h2.heading {
	font-size:1.2em
}
}.container {
	border-top:1px solid transparent;
	margin-left:auto;
	margin-right:auto;
	padding-left:1em;
	padding-right:1em
}
@media (min-width:768px) {
	.container {
	padding-left:0;
	padding-right:0
}
}@media (min-width:980px) {
	.container {
	max-width:980px
}
}@media (min-width:1280px) {
	.container {
	min-width:980px;
	width:980px
}
}@media (max-width:414px) {
	.container {
	padding-left:20px;
	padding-right:20px
}
}.button,.input {
	border:1px solid transparent;
	border-radius:2px;
	display:inline-block;
	font-size:1em;
	line-height:1;
	padding:14px 20px
}
.input,input {
	color:#425063
}
.input:focus,input:focus {
	border-color:#338ef5;
	outline-style:none
}
.input:invalid,input:invalid {
	border-color:red
}
.button {
	background-color:#338ef5;
	color:#fff;
	cursor:pointer;
	font-size:16px;
	text-align:center
}
.button:hover {
	background-color:#4b9bf6
}
.button[disabled] {
	background-color:#606c80!important;
	cursor:not-allowed
}
.block {
	display:block
}
.text-large {
	font-size:1.25em
}
@media (max-width:413px) {
	.text-large {
	font-size:1.15em
}
}.text-small {
	font-size:.875em
}
.show-mobile-only {
	display:none
}
@media (max-width:767px) {
	.show-mobile-only {
	display:block
}
}.clearfix:after {
	clear:both
}
.clearfix:after,.clearfix:before {
	content:" ";
	display:table
}
.overflow-hidden {
	height:0!important;
	overflow:hidden!important
}
.section-1 {
	background-position:50%;
	background-size:cover;
	margin-top:60px;
	min-height:750px;
	padding:0 0 20px
}
@media only all {
	.section-1 {
	background-image:url(https://dn-coding-net-production-static.codehub.cn/static/media/bg-top.d825ff1b.png)
}
}@media only all and (-webkit-min-device-pixel-ratio:1.5),only all and (min--moz-device-pixel-ratio:1.5),only all and (min-device-pixel-ratio:1.5),only all and (min-resolution:1.5dppx),only all and (min-resolution:144dpi) {
	.section-1 {
	background-image:url(https://dn-coding-net-production-static.codehub.cn/static/media/bg-top@2x.8bc6022b.png)
}
}@media (max-width:425px) {
	.section-1 {
	min-height:622px
}
}.section-1 .notice-container {
	display:flex;
	justify-content:center;
	margin-bottom:60px
}
.section-1 .notice-container .icon {
	height:24px;
	margin-right:10px;
	width:24px
}
.section-1 .notice-container .icon img {
	height:100%;
	width:100%
}
.section-1 .notice-container .notice-link {
	color:#06f;
	font-size:16px
}
@media (max-width:414px) {
	.section-1 .notice-container {
	margin-bottom:50px
}
}.section-1 h1.heading {
	color:#000;
	font-size:54px;
	font-weight:700;
	line-height:1.5;
	margin:0 auto 20px;
	padding-top:133px;
	text-align:center
}
@media (max-width:768px) {
	.section-1 h1.heading {
	font-size:2.5em;
	text-align:center
}
}@media (max-width:414px) {
	.section-1 h1.heading {
	font-size:40px;
	padding:60px 12.5% 0
}
}@media (max-width:320px) {
	.section-1 h1.heading {
	font-size:37px;
	padding:60px 5.5% 0
}
}.section-1 .description {
	color:#000;
	font-size:20px;
	line-height:1.8;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	max-width:790px;
	text-align:center;
	width:75%
}
@media (max-width:768px) {
	.section-1 .description {
	font-size:1.25em
}
}@media (max-width:414px) {
	.section-1 .description {
	font-size:14px;
	font-weight:400;
	margin:0 0 25px;
	width:100%
}
}.section-1 .apply-for-trial {
	border-radius:0;
	margin:auto;
	padding:10px;
	text-align:center
}
.section-1 .apply-for-trial .input-email {
	margin-bottom:10px
}
.section-1 .apply-for-trial .input-container {
	display:flex;
	justify-content:center
}
@media (max-width:425px) {
	.section-1 .apply-for-trial .input-container {
	flex-direction:column
}
}.section-1 .apply-for-trial .input-button,.section-1 .apply-for-trial .input-email {
	height:56px;
	width:100%
}
@media (max-width:425px) {
	.section-1 .apply-for-trial .input-button,.section-1 .apply-for-trial .input-email {
	height:48px
}
}.section-1 .apply-for-trial .input-email {
	border:1px solid #dadfe6;
	border-radius:2px;
	margin-right:10px;
	overflow:hidden;
	width:300px
}
@media (max-width:425px) {
	.section-1 .apply-for-trial .input-email {
	margin:0 0 10px;
	width:100%
}
}.section-1 .apply-for-trial .input-button {
	background-color:#06f;
	color:#fff;
	font-size:16px;
	width:192px
}
@media (max-width:425px) {
	.section-1 .apply-for-trial .input-button {
	width:100%
}
}.section-1 .apply-for-trial .hint {
	color:#fff;
	font-size:14px;
	letter-spacing:0;
	line-height:16px;
	padding-top:1em;
	text-align:center
}
.section-1 .apply-for-trial .hint a {
	color:#fff;
	text-decoration:underline
}
.section-2 .wrap {
	background-color:#202d40;
	overflow:hidden;
	padding-bottom:50px;
	position:relative;
	text-align:center
}
.section-2 .wrap .bg-left,.section-2 .wrap .bg-right {
	background-position:50%;
	background-size:cover;
	position:absolute
}
@media (max-width:768px) {
	.section-2 .wrap .bg-left,.section-2 .wrap .bg-right {
	display:none
}
}.section-2 .wrap .bg-left {
	bottom:0;
	height:176px;
	left:0;
	position:absolute;
	width:244px
}
@media only all {
	.section-2 .wrap .bg-left {
	background-image:url(https://dn-coding-net-production-pp.codehub.cn/cdc5b697-2082-403b-9a2f-175142828497.png)
}
}@media only all and (-webkit-min-device-pixel-ratio:1.5),only all and (min--moz-device-pixel-ratio:1.5),only all and (min-device-pixel-ratio:1.5),only all and (min-resolution:1.5dppx),only all and (min-resolution:144dpi) {
	.section-2 .wrap .bg-left {
	background-image:url(https://dn-coding-net-production-pp.codehub.cn/eb4694f1-c23e-470e-b1e6-382b58aaee43.png)
}
}.section-2 .wrap .bg-right {
	height:150px;
	right:0;
	top:0;
	width:220px
}
@media only all {
	.section-2 .wrap .bg-right {
	background-image:url(https://dn-coding-net-production-pp.codehub.cn/bd98c782-fea0-47ec-bc82-8fc55549e833.png)
}
}@media only all and (-webkit-min-device-pixel-ratio:1.5),only all and (min--moz-device-pixel-ratio:1.5),only all and (min-device-pixel-ratio:1.5),only all and (min-resolution:1.5dppx),only all and (min-resolution:144dpi) {
	.section-2 .wrap .bg-right {
	background-image:url(https://dn-coding-net-production-pp.codehub.cn/77b5e588-3d14-4325-94dd-01b481c65cc2.png)
}
}.section-2 .wrap .title {
	color:#fff;
	font-size:18px;
	margin:48px 0 30px;
	padding:0 40px
}
@media (max-width:414px) {
	.section-2 .wrap .title {
	font-size:16px;
	margin:50px 0 20px
}
}.section-2 .wrap .btnArea {
	position:relative
}
.section-2 .wrap .btnArea .link {
	background-color:#06f;
	border-radius:2px;
	color:#fff;
	cursor:pointer;
	display:inline-block;
	font-size:16px;
	height:48px;
	line-height:48px;
	width:224px
}
.section-3 {
	padding-bottom:50px
}
.section-3 .container {
	color:#000;
	padding-left:0;
	padding-right:0
}
.section-3 .container .head {
	font-size:38px;
	font-weight:500;
	padding:80px 20px 50px;
	text-align:center
}
@media (max-width:768px) {
	.section-3 .container .head {
	padding:80px 40px 50px
}
}@media (max-width:414px) {
	.section-3 .container .head {
	font-size:30px;
	padding:40px 20px 10px
}
}.section-3 .container .content-container .item-wrap {
	border-bottom:1px solid #f5f7fa;
	border-right:1px solid #f5f7fa;
	box-sizing:border-box;
	float:left;
	height:250px;
	width:33.33%
}
@media (max-width:690px) {
	.section-3 .container .content-container .item-wrap {
	width:50%
}
.section-3 .container .content-container .item-wrap:nth-of-type(2n) {
	border-right:none
}
.section-3 .container .content-container .item-wrap:nth-of-type(3n) {
	border-right:1px solid #f5f7fa!important
}
}.section-3 .container .content-container .item-wrap:nth-of-type(3n) {
	border-right:none
}
@media (max-width:413px) {
	.section-3 .container .content-container .item-wrap {
	height:250px
}
}.section-3 .container .content-container .item-wrap .item-container {
	align-items:center;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	padding:0 40px
}
@media (max-width:413px) {
	.section-3 .container .content-container .item-wrap .item-container {
	padding:0 20px
}
}@media (max-width:320px) {
	.section-3 .container .content-container .item-wrap .item-container {
	height:225px
}
}.section-3 .container .content-container .item-wrap .item-container .icon {
	height:70px;
	margin:40px 0 20px;
	width:70px
}
.section-3 .container .content-container .item-wrap .item-container .icon img {
	height:100%;
	width:100%
}
.section-3 .container .content-container .item-wrap .item-container .title {
	font-size:18px;
	margin-bottom:10px
}
@media (max-width:413px) {
	.section-3 .container .content-container .item-wrap .item-container .title {
	font-size:16px
}
}.section-3 .container .content-container .item-wrap .item-container .desc {
	color:#606c80;
	font-size:14px;
	text-align:center
}
.section-3 .container .content-container .item-wrap .item-container .desc.short {
	width:162px
}
@media (max-width:320px) {
	.section-3 .container .content-container .item-wrap .item-container .desc.short {
	width:auto
}
}.section-5#price .container {
	padding-left:0;
	padding-right:0
}
.section-5#price .slider-container {
	padding:0 40px
}
@media (max-width:768px) {
	.section-5#price .slider-container {
	padding:0 70px
}
}@media (max-width:414px) {
	.section-5#price .slider-container {
	padding:0 40px
}
}.section-5#price h2.heading {
	color:#000;
	font-size:38px;
	font-weight:500;
	margin:0;
	padding:80px 20px 50px
}
@media (max-width:414px) {
	.section-5#price h2.heading {
	font-size:30px;
	padding:40px 25px 20px
}
}@media (min-width:980px) {
	.section-5#price .big-card {
	background-color:#fff;
	border-radius:2px;
	box-shadow:0 0 34px 0 rgba(3,65,157,.1)
}
}.section-5#price .big-card .body {
	margin-bottom:100px
}
@media (max-width:930px) {
	.section-5#price .big-card .body {
	margin-bottom:0
}
}.section-5#price .big-card .body .upper-content-container {
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	-webkit-user-select:none;
	padding-top:1px;
	user-select:none
}
.section-5#price .big-card .body .description {
	color:#000;
	margin-bottom:40px;
	margin-top:40px;
	text-align:center
}
@media (max-width:767px) {
	.section-5#price .big-card .body .description {
	font-size:1em;
	margin:40px 0 50px;
	padding-left:20px;
	padding-right:20px
}
}@media (min-width:768px) {
	.section-5#price .big-card .body .description {
	padding:0 20px
}
.section-5#price .big-card .body .description p {
	font-size:16px;
	line-height:40px;
	margin-bottom:0;
	margin-top:0
}
.section-5#price .big-card .body .description p.medium {
	font-size:24px
}
}@media (max-width:414px) {
	.section-5#price .big-card .body .description {
	font-size:14px;
	line-height:25px;
	margin-bottom:30px;
	margin-top:0;
	text-align:left
}
.section-5#price .big-card .body .description p {
	display:inline;
	margin-top:0
}
}.section-5#price .big-card .body .tip-container {
	align-items:center;
	display:flex;
	justify-content:center;
	padding:0 20px 60px
}
@media (max-width:870px) {
	.section-5#price .big-card .body .tip-container {
	flex-wrap:wrap
}
}.section-5#price .big-card .body .tip-container .tip-item {
	align-items:center;
	display:flex
}
.section-5#price .big-card .body .tip-container .tip-item:not(:last-child) {
	margin-right:40px
}
@media (max-width:540px) {
	.section-5#price .big-card .body .tip-container .tip-item {
	justify-content:left!important;
	width:100%!important
}
.section-5#price .big-card .body .tip-container .tip-item:not(:last-child) {
	margin-bottom:17px!important
}
}@media (max-width:870px) {
	.section-5#price .big-card .body .tip-container .tip-item {
	justify-content:center;
	margin-right:0!important;
	width:50%
}
.section-5#price .big-card .body .tip-container .tip-item.first-row {
	margin-bottom:20px
}
}.section-5#price .big-card .body .tip-container .tip-item .icon {
	margin-right:10px
}
.section-5#price .big-card .body .tip-container .tip-item .icon img {
	height:15px;
	vertical-align:middle;
	width:15px
}
.section-5#price .big-card .body .tip-container .tip-item .text {
	color:#202d40;
	font-size:16px
}
@media (max-width:414px) {
	.section-5#price .big-card .body .tip-container .tip-item .text {
	font-size:14px
}
}.section-5#price .big-card .body .price-package-title {
	border-top:1px solid #dadfe6;
	color:#000;
	font-size:24px;
	padding:40px 30px;
	text-align:center
}
@media (max-width:414px) {
	.section-5#price .big-card .body .price-package-title {
	font-size:20px;
	padding:30px 20px 20px
}
}.section-5#price .big-card .body .price-packages {
	display:flex;
	justify-content:space-between;
	padding:0 50px
}
@media (max-width:930px) {
	.section-5#price .big-card .body .price-packages {
	align-items:center;
	flex-direction:column
}
}.section-5#price .big-card .body .price-packages .price-package-item {
	border:1px solid #dadfe6;
	height:244px;
	padding:30px 0 40px;
	text-align:center;
	width:270px
}
@media (max-width:930px) {
	.section-5#price .big-card .body .price-packages .price-package-item:not(:last-child) {
	margin-bottom:10px
}
}.section-5#price .big-card .body .price-packages .price-package-item .price {
	color:#000;
	font-size:30px;
	margin-bottom:20px
}
.section-5#price .big-card .body .price-packages .price-package-item .origin-price {
	color:#606c80;
	font-size:14px;
	margin-bottom:10px
}
.section-5#price .big-card .body .price-packages .price-package-item .team-scale {
	color:#323a45;
	font-size:14px;
	margin:10px 0 30px
}
.section-5#price .big-card .body .price-packages .button {
	background-color:#06f;
	color:#fff;
	font-size:14px;
	height:32px;
	line-height:32px;
	padding:0;
	text-align:center;
	width:104px
}
.section-5#price .big-card .body .price-package-contact {
	color:#000;
	font-size:16px;
	padding:40px 30px 90px;
	text-align:center
}
@media (max-width:414px) {
	.section-5#price .big-card .body .price-package-contact {
	font-size:12px;
	padding:30px 20px 40px
}
}@media (max-width:767px) {
	.section-5#price .big-card .body .price-packages {
	flex-direction:column;
	width:100%
}
.section-5#price .big-card .body .price-packages .price-package-item {
	margin-bottom:20px;
	margin-right:0!important
}
}#priceCalculator {
	align-items:center;
	color:#000;
	display:flex;
	font-size:24px;
	justify-content:center;
	margin:30px auto 50px;
	padding:0 20px;
	text-align:center
}
@media (max-width:580px) {
	#priceCalculator {
	font-size:20px;
	justify-content:left
}
}@media (max-width:414px) {
	#priceCalculator {
	font-size:16px;
	margin-top:40px
}
}#priceCalculator #headCount {
	border:1px solid #dadfe6;
	border-radius:2px;
	color:#06f;
	font-size:24px;
	height:48px;
	line-height:1;
	margin-right:20px;
	padding:0;
	text-align:center;
	width:180px
}
@media (max-width:580px) {
	#priceCalculator #headCount {
	height:41px;
	width:160px
}
}@media (max-width:414px) {
	#priceCalculator #headCount {
	margin-right:11px
}
}@media (max-width:375px) {
	#priceCalculator #headCount {
	width:100px
}
}#priceCalculator #totalCost {
	color:#06f;
	margin-left:.2em;
	margin-right:.2em
}
.priceCalculator {
	color:#000;
	font-size:24px;
	margin:20px 0 30px;
	text-align:center
}
@media (max-width:414px) {
	.priceCalculator {
	display:none
}
}.priceCalculator .totalCost {
	color:#06f;
	margin-left:.2em;
	margin-right:.2em
}
.section-6 {
	background-color:#f7f9fc;
	position:relative
}
.section-6 .container .content-wrap .bg-left,.section-6 .container .content-wrap .bg-right {
	background-position:0 0;
	background-size:cover;
	position:absolute
}
@media (max-width:768px) {
	.section-6 .container .content-wrap .bg-left,.section-6 .container .content-wrap .bg-right {
	display:none
}
}.section-6 .container .content-wrap .bg-left {
	bottom:0;
	height:220px;
	left:0;
	width:240px
}
@media only all {
	.section-6 .container .content-wrap .bg-left {
	background-image:url(https://dn-coding-net-production-pp.codehub.cn/966b879e-7a05-46cf-b348-fd3161bd6e85.png)
}
}@media only all and (-webkit-min-device-pixel-ratio:1.5),only all and (min--moz-device-pixel-ratio:1.5),only all and (min-device-pixel-ratio:1.5),only all and (min-resolution:1.5dppx),only all and (min-resolution:144dpi) {
	.section-6 .container .content-wrap .bg-left {
	background-image:url(https://dn-coding-net-production-pp.codehub.cn/01e4db02-3b52-4499-90e7-7ac74400d7fd.png)
}
}.section-6 .container .content-wrap .bg-right {
	height:190px;
	right:0;
	top:0;
	width:250px
}
@media only all {
	.section-6 .container .content-wrap .bg-right {
	background-image:url(https://dn-coding-net-production-pp.codehub.cn/3e9b64b4-3151-4ab5-b211-6d6ae2a74d50.png)
}
}@media only all and (-webkit-min-device-pixel-ratio:1.5),only all and (min--moz-device-pixel-ratio:1.5),only all and (min-device-pixel-ratio:1.5),only all and (min-resolution:1.5dppx),only all and (min-resolution:144dpi) {
	.section-6 .container .content-wrap .bg-right {
	background-image:url(https://dn-coding-net-production-pp.codehub.cn/dbf3ff72-c792-4def-b51f-397d18830ad7.png)
}
}.section-6 .container .content-wrap .content-container {
	position:relative;
	text-align:center
}
.section-6 .container .content-wrap .content-container .title {
	color:#000;
	font-size:38px;
	font-weight:500;
	padding:80px 0 40px
}
@media (max-width:414px) {
	.section-6 .container .content-wrap .content-container .title {
	font-size:30px;
	padding:40px 0 20px
}
}.section-6 .container .content-wrap .content-container .desc {
	color:#202d40;
	font-size:16px;
	line-height:28px;
	margin-bottom:60px
}
@media (max-width:414px) {
	.section-6 .container .content-wrap .content-container .desc {
	margin-bottom:30px
}
}@media (max-width:980px) {
	.section-6 .container .content-wrap .content-container .desc {
	padding:0 20px
}
}.section-6 .container .content-wrap .content-container .desc .link {
	color:#06f;
	margin:0 2px
}
.section-6 .container .content-wrap .content-container .btn-area {
	padding-bottom:135px
}
@media (max-width:414px) {
	.section-6 .container .content-wrap .content-container .btn-area {
	padding-bottom:84px
}
}.section-6 .container .content-wrap .content-container .btn-area .btn-link {
	background-color:#06f;
	border-radius:2px;
	color:#fff;
	display:inline-block;
	font-size:16px;
	height:48px;
	line-height:48px;
	width:160px
}
.section-7 {
	color:#76808e;
	padding-bottom:20px
}
.section-7 h3 {
	font-size:1.2em;
	font-weight:300;
	opacity:.5
}
.section-7 .large-text {
	font-size:1.75em;
	font-weight:300;
	margin-bottom:1em
}
.section-7 .large-text a {
	color:#76808e
}
.section-7 .input-container {
	padding-bottom:10px;
	padding-top:10px
}
.section-7 .input-container .button,.section-7 .input-container .input {
	margin-bottom:10px;
	width:100%
}
.section-7 .content-container {
	padding-left:10px;
	padding-right:10px
}
.section-7 .left,.section-7 .right {
	flex-basis:0;
	flex-grow:1;
	flex-shrink:0
}
.section-7 .separator {
	border:solid #d8dde4;
	border-width:1px 0 0;
	display:none;
	flex-basis:0;
	flex-grow:0;
	flex-shrink:0
}
.section-7 .contact {
	position:relative
}
.section-7 .contact:hover .hover-image {
	display:block
}
.section-7 .hover-image {
	display:none;
	left:55px;
	position:absolute;
	top:-230px
}
.section-7 .hover-image img {
	width:200px
}
@media (min-width:768px) {
	.section-7 {
	padding-bottom:80px;
	text-align:center
}
.section-7 .content-container {
	display:flex;
	flex-direction:row
}
.section-7 .content-container .separator {
	border-width:0 1px 0 0;
	display:block
}
.section-7 .input-container {
	margin-left:auto;
	margin-right:auto;
	width:320px
}
}.section-7 button.submitting {
	opacity:.5
}
.section-7 button.submitted {
	background-color:#6fce1d!important;
	opacity:.5
}
.section-7 .text-danger {
	color:#ff2600
}
.user-cases {
	padding-bottom:80px
}
.user-cases h2.heading {
	color:#000;
	font-size:38px;
	font-weight:500;
	margin:0;
	padding:80px 0 40px
}
@media (max-width:768px) {
	.user-cases h2.heading {
	font-size:30px;
	padding:40px 40px 45px
}
}@media (max-width:414px) {
	.user-cases h2.heading {
	padding:40px 30px 25px
}
}.contact-us {
	padding-bottom:80px
}
.contact-us h2.heading {
	color:#202d40;
	font-size:38px;
	font-weight:500;
	margin:20px
}
@media (max-width:768px) {
	.contact-us h2.heading {
	font-size:30px;
	padding:40px 40px 45px
}
}@media (max-width:414px) {
	.contact-us h2.heading {
	padding:40px 30px 25px
}
}.contact-us .contact-wrapper {
	display:flex;
	flex-wrap:wrap;
	justify-content:center
}
@media (max-width:768px) {
	.contact-us .contact-wrapper>div.qrcode {
	display:none
}
.contact-us .contact-wrapper>div.mobile-qrcode {
	display:block
}
.contact-us .contact-wrapper>div.mobile-qrcode>img {
	width:180px
}
}@media (min-width:769px) {
	.contact-us .contact-wrapper .border-left {
	border-left:1px solid #f5f7fa
}
.contact-us .contact-wrapper .border-right {
	border-right:1px solid #f5f7fa
}
.contact-us .contact-wrapper>div.mobile-qrcode {
	display:none
}
.contact-us .contact-wrapper>div.qrcode {
	display:block;
	position:relative
}
.contact-us .contact-wrapper>div.qrcode>img {
	-webkit-transform:translateY(-20px);
	background:#fff;
	border-radius:2px;
	font-size:14px;
	left:15px;
	opacity:0;
	position:absolute;
	top:-215px;
	transform:translateY(-20px);
	transition:all .3s ease-in-out;
	visibility:hidden;
	width:180px
}
.contact-us .contact-wrapper>div.qrcode>img:after {
	-webkit-transform:rotate(-45deg);
	background-color:#fff;
	border-bottom:1px solid #ddd;
	border-left:1px solid #ddd;
	bottom:-5px;
	content:"";
	height:.6em;
	left:auto;
	position:absolute;
	right:68px;
	top:auto;
	transform:rotate(-45deg);
	transition:background .1s linear;
	width:.6em;
	z-index:2
}
.contact-us .contact-wrapper>div.qrcode:hover>img {
	-webkit-transform:translateY(0);
	opacity:1;
	transform:translateY(0);
	visibility:visible
}
}.contact-us .contact-wrapper>div {
	color:#606c80;
	cursor:pointer;
	font-weight:700;
	padding:0 45px;
	text-align:center
}
.contact-us .contact-wrapper>div>div {
	padding:5px
}
.user-cases-list {
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	margin:auto;
	max-width:960px
}
@media (max-width:414px) {
	.user-cases-list {
	padding:0 20px
}
.user-cases-list .item {
	width:50%
}
.user-cases-list .item img {
	width:162px
}
}@media (max-width:414px) and (max-width:320px) {
	.user-cases-list .item img {
	width:135px
}
}.user-cases-list .item {
	flex-basis:25%;
	margin-bottom:15px;
	text-align:center
}
@media (max-width:414px) {
	.user-cases-list .item {
	margin-bottom:0
}
}#slider {
	height:24px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	width:100%
}
@media (min-width:980px) {
	#slider {
	width:720px
}
}#slider .slider-bar-container {
	align-items:center;
	bottom:0;
	display:flex;
	left:0;
	position:absolute;
	right:0;
	top:0
}
#slider .slider-bar {
	background-color:#e4e9f0;
	height:6px;
	position:relative;
	width:100%
}
#slider .slider-bar .slider-bar-highlight {
	background-color:#80b3ff;
	bottom:0;
	left:0;
	position:absolute;
	top:0;
	width:0
}
#slider .slider-handle {
	background-color:#06f;
	border-radius:2px;
	bottom:0;
	color:#fff;
	cursor:pointer;
	font-size:14px;
	height:24px;
	line-height:24px;
	margin-left:-24px;
	position:absolute;
	text-align:center;
	top:0;
	width:48px
}
#coverflow {
	background:#f3f5f8;
	padding-bottom:100px
}
@media (max-width:414px) {
	#coverflow {
	padding-bottom:44px
}
}#coverflow .header {
	color:#000;
	font-size:38px;
	font-weight:500;
	padding:80px 20px 56px;
	text-align:center
}
@media (max-width:1024px) {
	#coverflow .header {
	padding-bottom:0
}
}@media (max-width:414px) {
	#coverflow .header {
	font-size:30px;
	padding:33px 20px 28px
}
}#coverflow .coverflow-container {
	display:flex;
	justify-content:space-between;
	padding-bottom:20px;
	position:relative
}
@media (max-width:1024px) {
	#coverflow .coverflow-container {
	align-items:center;
	flex-direction:column
}
#coverflow .coverflow-container .stage {
	max-width:100%;
	width:auto!important
}
}#coverflow .coverflow-container .stage {
	text-align:center;
	width:570px
}
@media (max-width:414px) {
	#coverflow .coverflow-container .stage {
	margin-top:20px
}
}#coverflow .info {
	display:flex;
	flex-direction:column;
	height:330px;
	justify-content:space-between;
	margin-bottom:30px
}
@media (max-width:1024px) {
	#coverflow .info {
	height:auto;
	margin-bottom:0;
	text-align:center;
	width:100%
}
}@media (max-width:414px) {
	#coverflow .info .info-content {
	text-align:center
}
}#coverflow .info .info-title {
	color:#000;
	font-size:24px;
	font-weight:400;
	margin-bottom:20px;
	text-align:left
}
@media (max-width:1024px) {
	#coverflow .info .info-title {
	margin-top:30px;
	text-align:center
}
}@media (max-width:414px) {
	#coverflow .info .info-title {
	font-size:18px;
	margin-top:0
}
}#coverflow .info .info-description {
	color:#202d40;
	font-size:14px;
	width:322px
}
@media (max-width:1024px) {
	#coverflow .info .info-description {
	line-height:1.8;
	margin:0 auto 38px;
	padding:0 20px;
	text-align:center;
	width:590px
}
}@media (max-width:640px) {
	#coverflow .info .info-description {
	width:auto
}
}@media (max-width:414px) {
	#coverflow .info .info-description {
	margin-bottom:0;
	padding:0
}
}#coverflow .info .info-desc-image img {
	height:40px;
	width:240px
}
@media (min-width:768px) {
	#coverflow .info {
	margin-bottom:0;
	padding-right:20px
}
}#coverflow .indicator {
	display:inline-block;
	margin-right:12px
}
#coverflow .indicator:before {
	background:#cbd1d9;
	border:0;
	border-radius:100%;
	color:transparent;
	content:" ";
	cursor:pointer;
	display:block;
	height:12px;
	outline:0;
	position:relative;
	width:12px
}
@media (max-width:767px) {
	#coverflow .indicator {
	margin-right:24px
}
}@media (max-width:414px) {
	#coverflow .indicator {
	margin-right:10px
}
#coverflow .indicator:before {
	content:" ";
	height:8px;
	width:8px
}
}#coverflow .figure {
	border-radius:6px
}
#coverflow .figure img {
	box-shadow:0 0 34px 0 rgba(3,65,157,.1)
}
@media (max-width:640px) {
	#coverflow .figure img {
	width:100%
}
}#coverflow .figure .browser-window {
	background:#f9f9f9;
	box-shadow:inset 0 -1px 0 0 #f2f4f6;
	height:20px;
	width:100%
}
#coverflow .figure .browser-window:after,#coverflow .figure .browser-window:before {
	background-color:#e2e7ef;
	border-radius:100%;
	content:" ";
	display:block;
	margin-top:-3px;
	position:absolute;
	size:6px;
	top:10px
}
#coverflow .figure .browser-window:after {
	left:10px
}
#coverflow .figure .browser-window:before {
	box-shadow:10px 0 0 0 #e2e7ef;
	left:20px
}
#coverflow .figure .image {
	background-position:50%;
	background-size:cover;
	display:block;
	height:100%;
	width:100%
}
#coverflow .figure,#coverflow .info-item {
	-webkit-transform:translateY(-20px);
	opacity:.01;
	transform:translateY(-20px);
	transition:opacity .4s ease,-webkit-transform .4s ease;
	transition:transform .4s ease,opacity .4s ease;
	transition:transform .4s ease,opacity .4s ease,-webkit-transform .4s ease
}
#coverflow .figure.active,#coverflow .info-item.active {
	-webkit-transform:translateY(0);
	opacity:1;
	transform:translateY(0)
}
#coverflow .info-item {
	margin-top:40px
}
#coverflow .info-item .description-image {
	height:40px;
	margin-top:20px
}
@media (max-width:1024px) {
	#coverflow .info-item .description-image {
	margin-bottom:20px;
	margin-top:0
}
}@media (max-width:414px) {
	#coverflow .info-item .description-image {
	margin-bottom:0;
	margin-top:10px
}
}@media (max-width:414px) {
	#coverflow .info-item {
	margin-top:0
}
}#coverflow .indicator.active:before {
	background-color:#76808e
}
#coverflow #Navigation {
	position:relative
}
@media (max-width:1024px) {
	#coverflow #Navigation {
	bottom:-42px;
	position:absolute;
	text-align:center;
	width:100%
}
}@media (max-width:414px) {
	#coverflow #Navigation {
	bottom:-8px
}
}#coverflow #Navigation .indicators {
	display:inline-block
}
#coverflow #Navigation .arrowDiv {
	bottom:0;
	cursor:pointer;
	position:absolute;
	right:30px;
	transition:all .2s ease
}
#coverflow #Navigation .arrowDiv:hover {
	right:26px
}
.cg-emotion {
	position:absolute
}
.footer-container {
	background:#fff;
	border-top:1px solid #dbdde4!important;
	padding:0!important
}
.footer-container .footer {
	background:#fff;
	margin:0 auto;
	max-width:980px;
	padding:30px 20px 0
}
.footer-container .footer .us {
	list-style:outside none none;
	margin:0;
	padding-left:0
}
.footer-container .footer .us .us-row {
	display:table;
	float:left;
	width:50%
}
.footer-container .footer .us .us-row .us-col {
	display:table-cell;
	width:25%
}
.footer-container .footer .us:after {
	clear:both;
	content:"";
	display:block
}
.footer-container .footer .us li {
	float:left;
	width:25%
}
.footer-container .footer .us h3 {
	color:#323a45;
	font-size:14px;
	font-weight:700;
	margin:0 0 5px;
	text-decoration:none
}
.footer-container .footer .list {
	list-style:none;
	margin:0;
	padding:0
}
.footer-container .footer .list .address {
	color:#606c80
}
.footer-container .footer .list li {
	font-size:14px;
	line-height:28px;
	width:100%
}
.footer-container .footer .list a {
	color:#606c80;
	font-size:14px;
	line-height:28px;
	text-decoration:none
}
.footer-container .footer .list a:hover {
	color:#323a45
}
.footer-container .tidy {
	background:#202d40;
	color:#fff;
	padding:0 1rem
}
.footer-container .tidy .tidy-content {
	margin:30px auto 0!important;
	max-width:980px;
	padding:30px 0;
	position:relative
}
.footer-container .tidy .tidy-content .logo img {
	height:36px;
	position:absolute;
	width:170px
}
.footer-container .tidy .tidy-content .info {
	font-size:12px;
	text-align:right
}
.footer-container .tidy .tidy-content .info p {
	height:18px;
	line-height:18px;
	margin:0
}
.footer-container .tidy .tidy-content .info a {
	color:#fff;
	text-decoration:none
}
.footer-container .tidy .tidy-content .info a:hover {
	color:#fff
}
.footer-container .language {
	background:#fff;
	height:28px;
	margin:0 auto;
	text-align:right;
	width:980px
}
.footer-container .language a {
	background-color:#dbdde4;
	border-radius:2px;
	color:#4f565f;
	display:inline-block;
	font-size:12px;
	height:28px;
	line-height:28px;
	padding:0 10px;
	text-decoration:none
}
.footer-container .footer .us .share {
	display:flex
}
.footer-container .footer .us .share .share-item:not(:last-child) {
	margin-right:20px
}
@media (max-width:414px) {
	.footer-container .footer .us .share .share-item:not(:last-child) {
	margin-right:10px
}
}.footer-container .footer .us .share span {
	background:#979fa8;
	border:.1rem solid #979fa8;
	border-radius:50%;
	height:2rem;
	width:2rem
}
.footer-container .footer .us .share i {
	color:#fff
}
.footer-container .footer .us .share .qrcode {
	display:inline-block;
	position:relative;
	vertical-align:top
}
.footer-container .footer .us .share .share-img {
	cursor:pointer;
	height:36px;
	opacity:.5;
	width:36px
}
.footer-container .footer .us .share .share-img:hover {
	opacity:1
}
.footer-container .footer .us .share .share-img:hover+.dropdown {
	-webkit-transform:translateY(0);
	opacity:1;
	transform:translateY(0);
	visibility:visible
}
.footer-container .footer .us .share .qrcode .dropdown {
	-webkit-transform:translateY(-20px);
	background:#fff;
	border:1px solid #ddd;
	border-radius:2px;
	left:-92px;
	opacity:0;
	position:absolute;
	top:-235px;
	transform:translateY(-20px);
	transition:all .3s ease-in-out;
	visibility:hidden
}
.footer-container .footer .us .share .qrcode .dropdown:after {
	-webkit-transform:rotate(-45deg);
	background-color:#fff;
	border-bottom:1px solid #ddd;
	border-left:1px solid #ddd;
	bottom:-5px;
	content:"";
	height:.6em;
	left:auto;
	position:absolute;
	right:102px;
	top:auto;
	transform:rotate(-45deg);
	transition:background .1s linear;
	width:.6em;
	z-index:2
}
.footer-container .footer .us .share .weixin .dropdown {
	top:-235px
}
.footer-container .footer .us .share .qqgroup .dropdown {
	top:-314px
}
@media screen and (max-width:800px) {
	.footer-container .footer .us .us-row {
	display:table;
	float:inherit;
	margin-bottom:2rem;
	width:100%
}
.footer-container .footer .us .us-row .us-col {
	display:table-cell;
	width:50%
}
.footer-container .share .share-item {
	display:inline-block;
	margin-right:.5rem
}
.footer-container .tidy .tidy-content {
	text-align:center
}
.footer-container .tidy .tidy-content .logo img {
	height:30px;
	margin-bottom:20px;
	position:relative;
	width:136px
}
.footer-container .tidy .tidy-content .info {
	text-align:center
}
}header.header {
	background:#fff;
	box-shadow:inset 0 -1px 0 0 #d8dee5;
	height:60px;
	left:0;
	position:fixed;
	top:0;
	width:100%;
	z-index:1000
}
@media (max-width:834px) {
	header.header.menu-opened .dropdown-container {
	border-bottom:1px solid #d8dee5;
	height:450px
}
}header.header .navLink {
	align-items:center;
	display:flex;
	float:left;
	font-size:14px;
	height:60px;
	padding-left:20px
}
header.header .navLink .link {
	margin-right:30px
}
header.header .navLink .link a {
	display:block;
	position:relative
}
header.header .navLink .link.new {
	margin-right:40px
}
header.header .navLink .link.new a:after {
	background-color:#f23524;
	border-radius:2px;
	color:#fff;
	content:"New";
	font-size:12px;
	height:16px;
	line-height:16px;
	position:absolute;
	right:-34px;
	text-align:center;
	top:-14px;
	width:37px
}
@media (max-width:834px) {
	header.header .navLink {
	display:none
}
}header.header .coding-enterprise-logo {
	align-items:center;
	display:flex;
	float:left;
	height:60px;
	padding:0 10px
}
header.header .coding-enterprise-logo img {
	height:48px;
	width:240px
}
header.header .nav-btn {
	border-bottom:0;
	color:#323a45;
	font-size:14px;
	height:60px;
	line-height:20px
}
.dropdown-container,header.header .nav-btn {
	transition:all .3s ease-in;
	transition-delay:.25s;
	z-index:2
}
.dropdown-container {
	background-color:#fff;
	bottom:0;
	height:0;
	left:0;
	overflow:hidden;
	position:absolute;
	right:0;
	top:100%
}
.dropdown-container a {
	color:#333;
	display:block;
	font-size:14px;
	line-height:60px;
	padding-left:20px;
	padding-right:20px
}
.nav-btn {
	padding-right:30px
}
@media (max-width:835px) {
	.nav-btn {
	display:none
}
}@media (min-width:835px) {
	.nav-btn {
	align-items:center;
	display:flex;
	float:right;
	justify-content:space-between
}
.nav-btn div {
	display:inline-block;
	padding:20px 0 20px 30px
}
.nav-btn .btn {
	border-radius:2px;
	font-size:12px;
	height:30px;
	line-height:30px;
	margin-right:10px;
	text-align:center;
	width:90px
}
.nav-btn .btn:last-of-type {
	margin-right:0
}
.nav-btn .btn.default {
	background-color:#fff;
	border:1px solid #06f;
	color:#06f
}
.nav-btn .btn.primary {
	background-color:#06f;
	border:1px solid #06f;
	color:#fff
}
}.head-trigger {
	align-items:center;
	cursor:pointer;
	display:flex;
	flex-direction:column;
	float:right;
	height:16px;
	justify-content:space-between;
	margin:21px 20px;
	width:20px
}
@media (min-width:835px) {
	.head-trigger {
	display:none
}
}.head-trigger .line {
	background:#202d40;
	border-radius:2px;
	height:3px;
	width:100%
}
.mobile-header {
	background:#fff;
	bottom:0;
	color:#202d40;
	font-size:18px;
	left:0;
	position:fixed;
	right:0;
	top:0;
	width:100%;
	z-index:99999
}
.mobile-header.menu-opened {
	display:block
}
.mobile-header .head-container {
	height:100%;
	position:relative
}
.mobile-header .head-container .icon {
	cursor:pointer;
	height:24px;
	position:absolute;
	right:20px;
	top:20px;
	width:24px
}
.mobile-header .head-container .icon .string {
	background:#202d40;
	border-radius:1px;
	height:5px;
	left:10px;
	position:absolute;
	top:10px;
	width:18px
}
.mobile-header .head-container .icon .left {
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg)
}
.mobile-header .head-container .icon .right {
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg)
}
.mobile-header .head-container .content {
	align-items:center;
	display:flex;
	flex-direction:column;
	height:100%;
	justify-content:center
}
.mobile-header .head-container .content .mobile-link {
	margin-bottom:40px
}
.mobile-header .head-container .content .mobile-link:last-of-type {
	margin-bottom:56px
}
.mobile-header .head-container .content .mobile-link a {
	color:#202d40;
	position:relative
}
.mobile-header .head-container .content .mobile-link a.new:after {
	background-color:#f23524;
	border-radius:2px;
	color:#fff;
	content:"New";
	font-size:12px;
	height:16px;
	line-height:16px;
	position:absolute;
	right:-46px;
	text-align:center;
	top:5px;
	width:37px
}
.mobile-header .head-container .content .mobile-btn {
	height:40px;
	width:160px
}
.mobile-header .head-container .content .mobile-btn a {
	border-radius:2px;
	display:inline-block;
	font-size:14px;
	height:100%;
	line-height:40px;
	text-align:center;
	width:100%
}
.mobile-header .head-container .content .mobile-btn.default {
	margin-bottom:28px
}
.mobile-header .head-container .content .mobile-btn.default a {
	border:1px solid #06f;
	color:#06f
}
.mobile-header .head-container .content .mobile-btn.primary a {
	background:#06f;
	border:1px solid #06f;
	color:#fff
}






.hide{
	display:none;
}