<footer class="footer-section">
        <div class="container layout-width">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-wrap clearfix">
                        <div class="footer-logo"><a aria-current="page" class="" href="/"><img
                                    alt="contentstack logo"
                                    src="{{$uploadpath}}inst/{{$InstInfo.logo2}}" /></a>
                        </div>
                        <div class="footer-link">
                            <ul class="footer-menu-wrap">
                                <li class="title"><a class="title inactiveLink">产品</a></li>
                                <ul class="sub-nav hide">
                                    <li><a href="/features">特征</a></li>
                                    <li><a href="/developers-cms">技术人员</a></li>
                                    <li><a href="/business-cms">商业拓展</a></li>
                                    <li><a href="/integrations">系统集成</a></li>
                                    <li><a href="/pricing">价目表</a></li>
                                    <li><a href="/roi-calculator">ROI计算器</a></li>
                                </ul>
                            </ul>
                            <ul class="footer-menu-wrap">
                                <li class="title"><a class="title inactiveLink">用户</a></li>
                                <ul class="sub-nav hide">
                                    <li><a href=""
                                            target="_blank">平台支持</a></li>
                                    <li><a href="/faqs">常见问题</a></li>
                                    <li><a href="/trust">承诺</a></li>
                                    <li><a href="https://status.contentstack.com/"
                                            target="_blank">系统状态</a></li>
                                </ul>
                            </ul>
                            <ul class="footer-menu-wrap">
                                <li class="title"><a class="title inactiveLink">教程</a></li>
                                <ul class="sub-nav hide">
                                    <li><a href="/resources">客户资源</a></li>
                                    <li><a href="/cms-guides">CMS向导</a></li>
                                    <li><a href="/blog">技术博客</a></li>
                                    <li><a href="/docs" target="_blank">文档</a></li>
                                </ul>
                            </ul>
                            <ul class="footer-menu-wrap">
                                <li class="title"><a class="title inactiveLink">我们</a></li>
                                <ul class="sub-nav hide">
                                    <li><a href="/about">关于</a></li>
                                    <li><a href="/company/news">新闻</a></li>
                                    <li><a href="/company/press">公告</a></li>
                                    <li><a href="/company/careers">加入我们</a></li>
                                    <li><a href="/partners">成为伙伴</a></li>
                                    <li><a href="/company/contact-us">联系方式</a></li>
                                </ul>
                            </ul>
                            <!-- <ul class="footer-menu-wrap">
                                <li class="title"><a class="title inactiveLink">Social</a></li>
                                <ul class="sub-nav hide">
                                    <li><a href="https://twitter.com/contentstack"
                                            target="_blank">Twitter</a></li>
                                    <li><a href="https://www.linkedin.com/company/contentstack"
                                            target="_blank">Linkedin</a></li>
                                    <li><a href="https://www.facebook.com/contentstack"
                                            target="_blank">Facebook</a></li>
                                    <li><a href="https://www.youtube.com/contentstack"
                                            target="_blank">YouTube</a></li>
                                    <li><a href="https://github.com/contentstack"
                                            target="_blank">GitHub</a></li>
                                </ul>
                            </ul> -->
                        </div>
                    </div>
                    <div class="legal-wrap">
                            <ul class="footer-links">
                                <li>© {{$year}} 云易创版权所有 粤ICP备14012856号-4</li>
                            </ul>
                        <ul class="footer-links">
                            <li><a href="/privacy">隐私</a></li>
                        </ul>
                        <ul class="footer-links">
                            <li><a href="/terms-of-service">条款</a></li>
                        </ul>
                        <ul class="footer-links">
                            <li><a href="/sitemap">网站地图</a></li>
                        </ul>
                    </div>
                    <div></div>
                </div>
            </div>
        </div>
    </footer>