<div class="tryforfree"
                            style="background-image:url(/imgs/trial-sec.png?format=png8&amp;auto=webp)">
                            <div class="container">
                                <div class="row">
                                    <div class="content col-md-12">
                                        <div class="">
                                            <h2 class="head-text">{{$trytips}}</h2>
                                            <div class="rounded-pill button"><a
                                                    href="/company/contact-us?subject=get%20a%20demo">请求演示</a>
                                            </div>
                                            <div id="contact-global" class="contact-us-form text-left"
                                                style="display:none">
                                                <div class="features-demo-form">
                                                    <form id="mktoForm_1035" class="demo-mkt-form"></form>
                                                </div>
                                            </div>
                                            <div class="try-free-button"><a
                                                    href="/company/contact-us?subject=free%20trial">免费试用</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>