<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{$InstInfo.name}}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="x-ua-compatible" content="IE=9;IE=10;IE=11;IE=Edge,chrome=1" />
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <script src="/js/vendors/jquery.min.js"></script>
    <script src="/js/vendors/slick.min.js"></script>
    <script src="/js/vendors/lodash.min.js"></script>
    <script src="/js/vendors/forms2.min.js"></script>
    <script src="/js/vendors/rangeslider.min.js"></script>
    <script src="/js/vendors/jquery.waypoints.min.js"></script>
    <script src="/js/vendors/bootstrap.min.js"></script>
    <script src="/js/vendors/bootstrap-select.min.js"></script>
    <script src="/js/vendors/script.js"></script>
    <style></style>
    <style data-href="/css/styles.css">
        {{include file="$smarty_root/common.css"}}
    </style>
</head>